@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base: {
  :root {
    --background: 222 47% 7%;
    --foreground: 213 31% 91%;
    --card: 222 47% 7%;
    --card-foreground: 213 31% 91%;
    --popover: 222 47% 7%;
    --popover-foreground: 213 31% 91%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 222 47% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --ring: 224.3 76.3% 48%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}